<div class="myContainer">
  <div class="header">
    <img width="40px" src='assets/Images/navIcon.png' alt="navigation icon">
    <p>Future Orders</p>
    <img width="40px" src='assets/Images/navIcon.png' alt="navigation icon">
  </div>

<div style="overflow: scroll">
  <ul *ngFor="let client of clientCollection; let i = index">
    <button id="container" (click)="onCardClicked(client)">
      <div id="cardHeader">

        <div class="allDate">
          <div>{{setDayName(client)}}</div>
          <div> {{setEstimatedDate(client)}}</div>
        </div>

        <div>
          <div class="arrive">Arrive between</div>
          <div class="arriveHour"> {{setClientFrom(client)}} {{setClientTo(client)}}</div>
        </div>

      </div>
      <div id="cardBody">
        <app-client-detils [currentClient]="client"></app-client-detils>
        <div>
          <img id="circle" width="35px" src='assets/Images/navIcon.png' alt="navigation icon">
        </div>
      </div>
    </button>
  </ul>
  </div>

</div>